//Landing Page Styles
.mainContainer {
    background-color: #002b5c;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;

    .mainHeader {
        color: #F9A01B;
        font-size: 52px;
        text-align: left;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 42px;
        }

        @media (max-width: 480px) {
            font-size: 31px;
        }
    }

    .registrationHeader {
        color: #F9A01B;
        margin-bottom: 40px;
    }

    .formRegistration {
        margin-bottom: 50px;

        .errorMessage {
            color: #F9A01B;
            font-weight: 900;
        }

        .formFirstName {
            margin-bottom: 10px;
            max-width: 40%;

            @media (max-width: 1200px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }

        .formLastName {
            margin-bottom: 10px;
            max-width: 40%;

            @media (max-width: 1200px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }

        .formEmail {
            margin-bottom: 10px;
            max-width: 40%;

            @media (max-width: 1200px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }

        .formPassword {
            margin-bottom: 10px;
            max-width: 40%;

            @media (max-width: 1200px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }

        .formConfirmPassword {
            margin-bottom: 20px;
            max-width: 40%;

            @media (max-width: 1200px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }

    .loginHeader {
        color: #F9A01B;
        margin-bottom: 50px;
    }

    .formLogin {
        margin-bottom: 20px;

        .formLoginEmail {
            margin-bottom: 10px;
            max-width: 40%;

            @media (max-width: 1200px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }

        .formLoginPassword {
            margin-bottom: 20px;
            max-width: 40%;

            @media (max-width: 1200px) {
                max-width: 50%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
}

//Blogs Page Styles
.blogsMainContainer {
    background-color: #002b5c;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px;

    .blogsMainHeader {
        color: #F9A01B;
        font-size: 52px;
        text-align: left;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            font-size: 42px;
        }

        @media (max-width: 480px) {
            font-size: 31px;
        }
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .blogCommentBox {
        margin-top: 30px;
    }
}