.mainContainer {
  background-color: #002b5c;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.mainContainer .mainHeader {
  color: #F9A01B;
  font-size: 52px;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .mainContainer .mainHeader {
    font-size: 42px;
  }
}
@media (max-width: 480px) {
  .mainContainer .mainHeader {
    font-size: 31px;
  }
}
.mainContainer .registrationHeader {
  color: #F9A01B;
  margin-bottom: 40px;
}
.mainContainer .formRegistration {
  margin-bottom: 50px;
}
.mainContainer .formRegistration .errorMessage {
  color: #F9A01B;
  font-weight: 900;
}
.mainContainer .formRegistration .formFirstName {
  margin-bottom: 10px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .mainContainer .formRegistration .formFirstName {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .mainContainer .formRegistration .formFirstName {
    max-width: 100%;
  }
}
.mainContainer .formRegistration .formLastName {
  margin-bottom: 10px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .mainContainer .formRegistration .formLastName {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .mainContainer .formRegistration .formLastName {
    max-width: 100%;
  }
}
.mainContainer .formRegistration .formEmail {
  margin-bottom: 10px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .mainContainer .formRegistration .formEmail {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .mainContainer .formRegistration .formEmail {
    max-width: 100%;
  }
}
.mainContainer .formRegistration .formPassword {
  margin-bottom: 10px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .mainContainer .formRegistration .formPassword {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .mainContainer .formRegistration .formPassword {
    max-width: 100%;
  }
}
.mainContainer .formRegistration .formConfirmPassword {
  margin-bottom: 20px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .mainContainer .formRegistration .formConfirmPassword {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .mainContainer .formRegistration .formConfirmPassword {
    max-width: 100%;
  }
}
.mainContainer .loginHeader {
  color: #F9A01B;
  margin-bottom: 50px;
}
.mainContainer .formLogin {
  margin-bottom: 20px;
}
.mainContainer .formLogin .formLoginEmail {
  margin-bottom: 10px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .mainContainer .formLogin .formLoginEmail {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .mainContainer .formLogin .formLoginEmail {
    max-width: 100%;
  }
}
.mainContainer .formLogin .formLoginPassword {
  margin-bottom: 20px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .mainContainer .formLogin .formLoginPassword {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .mainContainer .formLogin .formLoginPassword {
    max-width: 100%;
  }
}

.blogsMainContainer {
  background-color: #002b5c;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 25px;
}
.blogsMainContainer .blogsMainHeader {
  color: #F9A01B;
  font-size: 52px;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .blogsMainContainer .blogsMainHeader {
    font-size: 42px;
  }
}
@media (max-width: 480px) {
  .blogsMainContainer .blogsMainHeader {
    font-size: 31px;
  }
}
.blogsMainContainer .row {
  display: flex;
  flex-direction: column;
}
.blogsMainContainer .blogCommentBox {
  margin-top: 30px;
}

.createBlogMainContainer {
  background-color: #002b5c;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 25px;
}
.createBlogMainContainer .createBlogHeader {
  color: #F9A01B;
  font-size: 52px;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .createBlogMainContainer .createBlogHeader {
    font-size: 42px;
  }
}
@media (max-width: 480px) {
  .createBlogMainContainer .createBlogHeader {
    font-size: 31px;
  }
}
.createBlogMainContainer .formCreateBlog {
  margin-bottom: 20px;
}
.createBlogMainContainer .formCreateBlog .formTitle {
  margin-bottom: 10px;
  max-width: 60%;
}
@media (max-width: 1200px) {
  .createBlogMainContainer .formCreateBlog .formTitle {
    max-width: 70%;
  }
}
@media (max-width: 768px) {
  .createBlogMainContainer .formCreateBlog .formTitle {
    max-width: 100%;
  }
}
.createBlogMainContainer .formCreateBlog .formContent {
  margin-bottom: 20px;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .createBlogMainContainer .formCreateBlog .formContent {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .createBlogMainContainer .formCreateBlog .formContent {
    max-width: 100%;
  }
}
.createBlogMainContainer .formCreateBlog .submitButton {
  max-width: 30%;
  align-self: flex-start;
}
@media (max-width: 1200px) {
  .createBlogMainContainer .formCreateBlog .submitButton {
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  .createBlogMainContainer .formCreateBlog .submitButton {
    max-width: 100%;
  }
}/*# sourceMappingURL=App.css.map */